.ContDet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.Details{
    width: 1fr;
}

.Phone,.Email,.Address{
    display: flex;
}

.Form{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.form{
    display: flex;
    flex-direction: column;
}
