.Text2{
    margin-left:150px;
    margin-right: 150px;
    margin-top: 20px;
    color:rgba(255, 246, 204, 0.879);
    margin-bottom: 5px;
    margin-bottom: 100px;
}

.Heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.head{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 100;
}

.Grid{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 50px;
}

.object{
    display: flex;
    justify-content: center;
    align-items: center;
}

.objText{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.objPara{
    font-size: 25px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
}

.objSub{
    font-size: 15px;
    font-weight: 50;
}

.objImg{
    height:60px;
    width: 60px;
    background-color: #2c320d;
    padding: 10px;
    border-radius: 50%;
}