.Outro{
    background-color: #2c320d;
    width:100vw;
    padding-left:110px;
    padding-right: 110px;
    padding-top:90px;
    padding-bottom: 90px;
}

.OText{
    display: flex;
    justify-content: space-between;
    border-style:solid;
    padding:40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 2px;
    border-color: #191b1e9e;
}

.Oright{
    display: flex;
    justify-content: end;
    align-content: center;
    width:auto;
    align-items: center;
    vertical-align: middle;
    margin-top: 5px;
}

.OFacebook,.Oyoutube,.OInsta,.Otwitter{
    height:20px;
    margin-left: 30px;
}

.OMiddle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:300px;
}


.Oyoutube:hover, .Otwitter:hover, .OInsta:hover,.OFacebook:hover{
    color: rgb(255, 255, 145);
    transition: 1s;
    cursor: pointer;
}

.Ohome:hover,.Oshop:hover,.Oabout:hover,.Ocontact:hover{
    color: rgb(255, 255, 145);
    transition: 1s;
    cursor: pointer;
    color: #7eff61;
}