.Text2{
    position: relative;
    z-index: 4;
    margin-left:150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 0;
    color:rgba(255, 246, 204, 0.879);
    border-bottom: 1px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: grey;
    background-color: #191b1e;
}


.Secure,.Free,.Care,.Service{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.heart{
    display: flex;
    background-color: #3a4211;
    border-radius: 50px;
    margin-top: 10px;
}

.Text2H{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.Text2t{
    font-size: 18px;
    margin-top: 15px;
}

.Box{
    display: flex;
    background-color: #3a4211;
    border-radius: 100px;
    margin-top: 10px;
}

.Truck{
    display: flex;
    background-color: #3a4211;
    border-radius: 100px;
    margin-top: 10px;
}

.Card{
    display: flex;
    background-color: #3a4211;
    border-radius: 100px;
    margin-top: 10px;
}